<div id="search">
  <div class="container">
    <form action="/search">
      {% if settings.search_option != 'everything' %}
        <input type="hidden" name="type" value="product" />
      {% endif %}
      <input type="text" name="q" placeholder="SEARCH" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocomplete="off" />
    </form>
  </div>
  <div class="search-close">X</div>
</div>