{% comment %}
<div class="main-imgSec">
  <div class="container">
    <h2>7 Reasons to buy our belt</h2>
    <div class="main-desc">The New York-based startup set out to reinvent the tired, boring belt and has mastered the art of it by creating the perfect product: a ridiculously comfortable belt that makes luxury accessible to all.</div>
    <img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy-img.jpg?12194889572986181486" class="main-secImg" alt="main banner">
  </div>
</div>

<div class="whiteSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy1.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>1. They’re rethinking men’s accessories.</h3>
        <p>Take it from the Wall Street Journal: Beltology is “devoted to giving the least-noticed, least-talked about and least-fetishized accessory in menswear its proper place of worship.” Dedicated to restoring belts to their rightful place in the world — and your outfit — Beltology has a singular focus, to build a refreshing new take on an age-old accessory, with unassailable style and unmatched quality at the core of everything they do.</p>
      </div>
    </div>
  </div>
</div>
<div class="blueSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy2.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>2. Stretch makes them ‘extremely comfortable’, according to countless customers.</h3>
        <p>Beltology belts are made to move. Every style includes cutting-edge flex that maximizes comfort and resilience. Whether you’re biking to the office, hitting the links or lounging all day, they’re guaranteed to stay comfortable in any context.</p>
      </div>
    </div>
  </div>
</div>
<div class="whiteSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy3.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>3. No holes, no restrictions.</h3>
        <p>Beltology belts don’t have holes, meaning the prong goes straight through extra resilient webbing. No holes mean the perfect fit every time.</p>
      </div>
    </div>
  </div>
</div>
<div class="blueSec padSec">
  <div class="container">
    <div class="text-sec">
      <div class="text"><h3>In case you’re already convinced...</h3></div>
      <div class="but-sec">
        <a href="" class="btn-shopNow">Shop best sellers</a>
        <a href="" class="btn-shopNow">Shop luxe sheets</a>
      </div>
    </div>
  </div>
</div>
<div class="whiteSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy4.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>4. Your satisfaction is guaranteed</h3>
        <p>Your happiness is guaranteed. With 100 day returns and free exchanges, the brand’s customer service tactic is simple: we’re not happy unless you’re thrilled. They’ll stand behind our product 100%. After years of work perfecting the belt, they guarantee you’ll love every style.</p>
      </div>
    </div>
  </div>
</div>
<div class="blueSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy5.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>5. Beltology offers access premium quality at an affordable luxury price</h3>
        <p>They use the same premium materials as luxury brands, but a direct-to-consumer model slashes overhead business expenses. This translates directly into savings for every customer. Their competitors’ styles, using identical manufacturing and often lesser materials, start at double the cost.</p>
      </div>
    </div>
  </div>
</div>
<div class="whiteSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy6.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>6. There are so many to choose from.</h3>
        <p>Beltology has a core offering of stylish, comfortable and versatile belts, but one awesome advantage of the brand is the sheer number of styles. With a dedicated design team, fresh seasonal offerings and bi-weekly product launches, Beltology offers an endless assortment for every season and every occasion. After all, belts have an important job to do, sure, but that doesn’t mean they can’t be expressive.</p>
      </div>
    </div>
  </div>
</div>
<div class="blueSec padSec">
  <div class="container">
    <div class="sub-imgSec">
      <div class="sec-img"><img src="https://cdn.shopify.com/s/files/1/0260/1447/files/buy7.jpg?12194889572986181486" class="sub-img" alt=""></div>
      <div class="sec-desc">
        <h3>7. Made in America. Always.</h3>
        <p>Using top notch materials, Beltology manufactures in New York, at the oldest family-run belt factory in the city.</p>
      </div>
    </div>
  </div>
</div>
<div class="whiteSec padSec">
  <div class="container">
    <div class="text-sec">
      <h3>We design our belts with two things in mind: freedom of expression. <br>That’s style freedom of movement — that’s functionality.</h3>
      <a href="" class="btn-shopNow">Shop beltology</a>
    </div>
  </div>
</div>
{% endcomment %}
{% section 'page-buy-our-belt' %}