<div id="page" class="row judgeme-all-reviews-page">

  <div class="span12 details judgeme-all-reviews-page__wrapper">
    <h1 class="p25 judgeme-all-reviews-page__title">{{ page.title }}</h1>
    <div class='judgeme-all-reviews-page__description'>{{ page.content }}</div>
    {% include 'judgeme_all_reviews' %}
  </div>

</div>
